<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.hidden {
	display: none;
}
* {
	list-style: none;
}
.div-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
    padding: 15px 10px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 100px;
    border: 1px solid #333;
    line-height: 30px;
    text-align: center;
    font-weight:bold;
    font-size:17px;
}
.select input[type=radio]+label{
    background-color: transparent; 
    color: #000; 
    transition: all 0.25s ease;
}
.select input[type=radio]:checked+label{
     border: 1px solid #000; 
     background-color: #fbb200;
     color: #fff;
}
li{
	display: flex;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
	<section layout:fragment="content">
	<div th:insert="~{banner/empty::banner}"></div>
	<div class="div-container">
		<th:block th:each="item : ${list}">
			<ul id="contents">
				<li>
					<div class="area_thumb">
					  <span class="profile_thumb">
					    <div style="position: relative; display: inline-block;">
					      <img th:if="${item.memProfile} == null" alt="프로필 이미지" src="/userresources/image/banner/nullimage.jpg" style="border-radius: 50%; width: 200px; height: 200px;">
					      <img th:if="${item.memProfile} != null" id="profileImage" style="border-radius: 50%; width: 200px; height: 200px;" alt="프로필 이미지" class="img_thumb" th:src="@{${item.memProfile}}">
					      <label for="imageInput" class="custom-file-upload" style="position: absolute; top: 180px; left: 100px; z-index: 1;">
					        <i class="fas fa-cloud-upload-alt"></i>
					      </label>
					      <input class="form-control" style="display:none;" id="imageInput" name="uploadFiles" type="file" multiple>
					    </div>
					  </span>
					</div>
				</li>
				<li class="hidden">
					<div> 아이디</div>
					<input type="text" id="id" th:value="${item.memId}" >
				</li>
				<li>
					<div> 닉네임</div>
					<input type="text" id="nick" th:value="${item.memNick}" class="form-control">
				</li>
				<li id="to1">
					<div>전화번호</div>
					<input type="text" id="to" name="to" th:value="${item.memPhone}" placeholder="변경하실 전화번호를 입력하세요" class="form-control"> <!-- 인증번호 받을사람 휴대폰 번호 -->
					<input type="button" class="btn btn-primary" id="send" value="인증번호 전송"><br> <!-- 문자보내는 전송버튼 -->
				</li>
				<li id="to2" class="hidden">
					<div>전화번호</div>
					<input type="text" id="userTel" placeholder="인증번호 4자리를 입력하세요" class="form-control">   <!-- 인증번호 입력창 -->
					<input type="button" class="btn btn-primary" id="enterBtn" value="인증번호 확인">  <!-- 인증번호와 내가 입력창에 입력한 인증번호 비교하는 창 -->		
				</li>
				<li id="email1">
				  <div>이메일</div>
				  <input type="email" id="recipientEmail" placeholder="변경하실 이메일 주소를 입력하세요" th:value="${item.memEmail} "class="form-control" >
				  <input type="button" id="sendButton" class="btn btn-primary" value="인증번호 전송">
				</li>
				<li id="email2" class="hidden">
				  <div id="name">이메일</div>
				  <input type="text" id="verificationCode" placeholder="인증번호 4자리를 입력하세요" class="form-control">
				  <inbut type="button" class="btn btn-primary" id="verifyButton" value="인증번호 확인">
				  <div id="message"></div>
				</li>			
				<li>
					<input type="text" id="zip" th:value="${item.memZip} " class="hidden">
					<div>주소</div>
					<input type="text" id="addr" th:value="${item.memAddr}" class="form-control">
				</li>
				<li>
					<div>이메일수신동의</div>
					<div class="select">
						<span>
							<input type="radio" id="emailAgreeYes" name="emailAgree" value="1" th:checked="${item.emailAgree} == 1 " >
							<label for="emailAgreeYes">예</label>
						</span>
						<span>
							<input type="radio" id="emailAgreeNo" name="emailAgree" value="0" th:checked="${item.emailAgree} == 0">
							<label for="emailAgreeNo">아니오</label>
						</span>
					</div>
				</li>
				<li>
					<div>문자수신동의</div>
					<div class="select">
						<span>
							<input type="radio" id="smsAgreeYes" name="smsAgree" value="1" th:checked="${item.smsAgree} == 1 ">
							<label for="smsAgreeYes">예</label>
						</span>
						<span>
							<input type="radio" id="smsAgreeNo" name="smsAgree" value="0" th:checked="${item.smsAgree} == 0">
							<label for="smsAgreeNo">아니오</label>
						</span>
					</div>
				</li>
				<li>
					<input type="button" id="updateProfileBtn" value="저장하기">
				</li>
			</ul>
		<th:block th:each="item : ${list}">
	</div>
	<script th:inline="javascript">
    let memId = $("#id").val();
    console.log(memId,'아이디');
	
	let checkNum = 0;
	
	
	$('#send').on('click',function() {
		const to = $('#to').val();
		
		if (to == "") {
			alert("전화번호를 입력하세요.");
			return;
		}
			alert('메세지를 전송하였습니다. 메세지를 확인해주세요.');
			  $("#to1").hide();
			  $("#to2").show();
			
			$.ajax ({
				url: '/sendSMS',
				type: 'GET',
				data: {
					"to" : to
				},
				success: function(data) {
					checkNum = data;
					console.log('번호',checkNum)
					
				}
			});
	});
	
	$('#enterBtn').on('click',function() {	
		const userNum = $('#userTel').val();
		
		if(checkNum == userNum) {
			alert('인증되었습니다');
			$("#to2").addClass('hidden');
			$("#to3").removeClass('hidden');
	     	
	     	$("#changeBtn").on('click', function(){
	        	alert('변경이 완료되었습니다.');
			    $("#ChangeTelBtn").hide();
			    $("#to1").show();
	        })
	        
		}
		else {
			alert('인증번호가 일치하지 않습니다. 다시 확인해주세요.');
		}
	});
// 인증번호 전송
$('#sendButton').on('click',function() {
  let recipientEmail = $("#recipientEmail").val();
  
  if (recipientEmail == "") {
    alert("이메일 주소를 입력하세요.");
    return;
  }

  alert("인증번호가 발송되었습니다.");
  $("#email1").hide();
  $("#email2").show();
  $.ajax({
    type: "POST",
    url: "/email/send",
    data: { recipientEmail: recipientEmail },
    success: function (response) {
      // 이메일 전송 성공 시 처리3
      /* document.getElementById("message").innerText = "이메일이 성공적으로 전송되었습니다.";
      document.getElementById("message").style.color = "green"; // 성공 메시지를 초록색으로 표시 */
    },
    error: function (xhr, status, error) {
      // 이메일 전송 실패 시 처리
      alert("인증번호 전송 중 오류가 발생했습니다.");
     /*  document.getElementById("message").innerText = "이메일 전송 중 오류가 발생했습니다.";
      document.getElementById("message").style.color = "red"; // 실패 메시지를 빨간색으로 표시 */
    },
  });
});

// 인증번호 확인
$('#verifyButton').on('click',function() {
  let verificationCode = $("#verificationCode").val();
  let recipientEmail = $("#recipientEmail").val();
  
  
  if (verificationCode == "") {
    alert("인증번호를 입력하세요.");
    return;
  }
  
	$.ajax({
	  type: "POST",
	  url: "/email/verify",
	  data: {
	    recipientEmail: recipientEmail,
	    verificationCode: verificationCode,
	  },
	  success: function (response) {
	    // 인증 성공 시 처리
	    if (response == "success") {
	      alert("인증되었습니다.");
	      $("#email1").show();
	      $("#sendButton").hide();
	      $("#ChangeEmailBtn").show();
	      $("#verificationCode").hide();
	      $("#verifyButton").hide();
	      $("#name").hide();
	    } else {
	      alert("인증번호가 일치하지 않습니다. 다시 확인해주세요.");
/* 	      $("#message").text("인증번호가 일치하지 않습니다. 다시 확인해주세요.");
	      $("#message").css("color", "red"); // 실패 메시지를 빨간색으로 표시 */
	    }
	  },
	});
});

// 프로필 수정
$(document).ready(function() {
    $("#updateProfileBtn").click(function() {
    	var formData = new FormData(); //FormData 객체 생성
    	var inputFile = $("input[type='file']");
    	//input 태그의 type이 file인것을 찾아서 inputFile이라는 변수로 지정
    	var files = inputFile[0].files;
    	//files : 선택한 모든 파일을 나열하는 FileList 객체입니다.
    	//multiple 특성을 지정하지 않닸다면 두 개 이상의 파일을 포함하지 않습니다.
    	for (var i = 0; i < files.length; i++) {
    		console.log(files[i]);
    		formData.append("uploadFiles", files[i]); //키,값으로 append 
    	}
    	formData.append("code", "p01")
    	formData.append("codeUser", $('#id').val());
    	console.log($('#id').val(),'밸류')

    	//jQuery.ajax
    	$.ajax({
    		url: '/uploadsAjax',
    		type: 'POST',
    		processData: false, //기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
    		contentType: false, // multipart/form-data타입을 사용하기위해 false 로 지정합니다.
    		data: formData,
    		success: function (result) {
    			console.log(result)
    			alert('성공!')

    		},
    		error: function (reject) {
    			alert('실풰!')
    			console.log(reject);
    		}
    	});
    	
        var userVO = {
            memId: $("#id").val(),
            memNick: $("#nick").val(),
            memEmail: $("#recipientEmail").val(),
            memPhone: $("#to").val(),
            emailAgree: $("input[name='emailAgree']:checked").val(),
            smsAgree: $("input[name='smsAgree']:checked").val(),
            memAddr: $("#addr").val()
        };

        $.ajax({
            url: "/updateProFile", // 서버 사이드 스크립트 파일의 경로
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(userVO), // 객체를 폼 데이터로 직렬화
            success: function(response) {
                // 성공적으로 업데이트되었을 때의 동작
                alert("정보가 성공적으로 수정되었습니다.");
            },
            error: function(xhr, status, error) {
                // 업데이트 중에 오류가 발생했을 때의 동작
                alert("정보수정에 실패하였습니다");
            }
        });
    });
});

// 이미지 파일 변경
$('#imageInput').on('change', function (event) {
    var image = $('#profileImage')[0];
    var file = event.target.files[0];
    var reader = new FileReader();

    reader.onloadend = function () {
        image.src = reader.result;
    }

    if (file) {
        reader.readAsDataURL(file);
    } else {
        image.src = "";
    }
});
/* 
// 이미지 파일 업로드
$('#uploadBtn').click(function () {
	var formData = new FormData(); //FormData 객체 생성
	var inputFile = $("input[type='file']");
	//input 태그의 type이 file인것을 찾아서 inputFile이라는 변수로 지정
	var files = inputFile[0].files;
	//files : 선택한 모든 파일을 나열하는 FileList 객체입니다.
	//multiple 특성을 지정하지 않닸다면 두 개 이상의 파일을 포함하지 않습니다.
	for (var i = 0; i < files.length; i++) {
		console.log(files[i]);
		formData.append("uploadFiles", files[i]); //키,값으로 append 
	}
	formData.append("code", "p01")
	formData.append("codeUser", $('#id').val());
	console.log($('#id').val(),'밸류')

	//jQuery.ajax
	$.ajax({
		url: '/uploadsAjax',
		type: 'POST',
		processData: false, //기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
		contentType: false, // multipart/form-data타입을 사용하기위해 false 로 지정합니다.
		data: formData,
		success: function (result) {
			console.log(result)
			alert('성공!')

		},
		error: function (reject) {
			alert('실풰!')
			console.log(reject);
		}
	});
}); */
</script>
</section>
	
</body>
</html>
