<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>챌린지 참여 리스트</title>
</head>
<body>
	<section layout:fragment="content">
	  <th:block th:each="list:${challengesList}">
		<section class="blog_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">
                            
                            <div class="row imageGallery1" id="gallery"
						style="position: relative; height: 679.112px;">
						<div class="col-md-4 gallery_item"
							style="position: absolute; left: 0px; top: 0px;">
							<div class="gallery_img">
								<img src="image/초록개구리.png" alt="">
								<div class="hover">
									<a class="light"><i class="fa fa-expand"></i></a>
								</div>
							</div>
						</div>

					</div>
                            
                           
                        </div>
                    </div>
                    <!-- 여기 세션 만들어서 주기 Info에서 넘어온다-->
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                         
                            <aside class="single_sidebar_widget popular_post_widget">
                           
                                <h3 class="widget_title" th:text="${list.title}"></h3>
                                <div class="media post_item">
                                     <img src="image/초록개구리.png" alt="post">
                                    <div class="media-body">
                                        <h3>How to</h3>
                                        <p th:text="${list.partMethod1}"></p>
                                        <p th:text="${list.partMethod2}"></p>
                                    </div>
                                </div>
                                
                            </aside>
                           
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
		
		
	
			<!-- Vertically centered scrollable modal -->
			<div
				class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

			</div>
			<!-- 정적모달 -->
			<div class="modal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Modal title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Modal body text goes here.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save
								changes</button>
						</div>
					</div>
				</div>
			</div>
	</section>
</body>
</html>