<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>챌린지리스트</title>
</head>
<body>
	<section layout:fragment="content">
		<h1>함께 할 수 있는 챌린지,</h1>
		<p th:text="${challengeList[0].allParticipants}+'명 참여중'"></p>
		<a th:href="@{/challengeInsert}">함께하고싶은 챌린지가 있으신가요?</a>
		<br>
		<br>
		<br>
		
		<th:block th:each="challenge:${challengeList}">
		
			<div class="row imageGallery1" id="gallery"
				style="position: relative; height: 679.112px;">
				<div class="col-md-4 gallery_item"
					style="position: absolute; left: 0px; top: 0px;">
					<div class="gallery_img">
						<img th:src="${challenge.filePath}" alt="">
						<p th:text="${challenge.participants}+'명 참여중'"></p>
						<div class="hover">
							<a class="light"
								th:href="@{/challenge/challengeInfo(chalId=${challenge.chalId})}"><i
								class="fa fa-expand"></i></a>

						</div>
						<div>
						<img th:src="${challenge.profil}"> <p th:text="${challenge.title}"></p>
						</div>
						<p th:text="${challenge.memId}"></p>

					</div>

				</div>
			</div>
		</th:block>
	</section>
</body>
</html>