
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>챌린지리스트</title>
</head>
<body>
	<section layout:fragment="content">
	  <input type="text" th:readonly="true" placeholder="메인 이미지 들어갈 자리입니다"> 
									<img src="/image/초록개구리.png" alt="메인사진 예시">
                              
                           
                                <textarea placeholder="챌린지 제목을 작상해 주세요"></textarea>
                          
                                      <input type="text" th:readonly placeholder="기대효과 이미지 들어갈 자리입니다"> 
									  <img src="/image/초록개구리.png" alt="기대효과사진 예시">
                                    
                                      <input type="text" th:readonly placeholder="기대효과 이미지 들어갈 자리입니다">
                                      <img src="/image/초록개구리.png" alt="기대효과사진 예시">
                                    
                                        <textarea placeholder="기대효과를 작상해 주세요"></textarea>	
                                        <input type ="date">"챌린지를 마감할 날짜를 선택해주세요"
                                        										
                                    
                        <p>HowTo</p>
<input type="text" placeholder="1.'텀블러 사진 혹은 영상을 인증한다"> 
<input type="text" placeholder="2. 제출"> 
                        
       
	</section>
</body>
</html>