<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>챌린지리스트</title>
</head>
<body>
<div class="row imageGallery1" id="gallery" style="position: relative; height: 679.112px;">
                    <div class="col-md-4 gallery_item" style="position: absolute; left: 0px; top: 0px;">
                        <div class="gallery_img">
                            <img src="image/gallery/01.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/01.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item" style="position: absolute; left: 239px; top: 0px;">
                        <div class="gallery_img">
                            <img src="image/gallery/02.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/02.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item" style="position: absolute; left: 479px; top: 0px;">
                        <div class="gallery_img">
                            <img src="image/gallery/03.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/03.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item" style="position: absolute; left: 0px; top: 175px;">
                        <div class="gallery_img">
                            <img src="image/gallery/04.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/04.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 gallery_item" style="position: absolute; left: 479px; top: 175px;">
                        <div class="gallery_img">
                            <img src="image/gallery/06.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/05.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item" style="position: absolute; left: 239px; top: 251px;">
                        <div class="gallery_img">
                            <img src="image/gallery/05.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/06.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item" style="position: absolute; left: 0px; top: 427px;">
                        <div class="gallery_img">
                            <img src="image/gallery/01-1.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/01-1.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item" style="position: absolute; left: 239px; top: 427px;">
                        <div class="gallery_img">
                            <img src="image/gallery/02-1.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/02-1.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item" style="position: absolute; left: 479px; top: 427px;">
                        <div class="gallery_img">
                            <img src="image/gallery/03-1.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="image/gallery/03-1.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
</body>
</html>