<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bongsamaru.admin.mapper.AdminMapper">
	<select id="subCodeList" resultType="CodeVO">
		select sub_code_id
				,sub_code_name
		from sub_code
		where main_code_id=#{mainCodeId}
	</select>
	<select id="getUserList" resultType="UserVO">
		select MEM_ID,
				MEM_PWD,
				MEM_NICK,
				MEM_PHONE,
				MEM_ZIP,
				MEM_ADDR,
				MEM_BDATE,
				MEM_DEPT,
				MEM_EMAIL,
				DON_RECEIPT,
				MEM_SSN,
				EMAIL_AGREE,
				SMS_AGREE,
				ACCT_NUM,
				BANK_NAME,
				MEM_STAT,
				MEM_NAME
		from member
		where MEM_STAT = #{memStat}
		order by MEM_ID
	</select>
	<select id="volCount" resultType="VolunteerVO">
		select (select nvl(sum(count(mem_id)),0) 
		from vol_act_mem 
		where mem_id=#{memId} group by mem_id) as  vol,
		(select nvl(sum(count(mem_id)),0) from vol_mem where mem_id=#{memId} and app_code='1' group by mem_id) as fac from dual
	</select>
	
	<select id="donCount" resultType="DonationLedgerVO">
		select count(mem_id) cnt,sum(don_amt) totals from don_ledger where mem_id=#{memId} group by mem_id
	</select>
	<select id="getUserOne" resultType="UserVO">
		select MEM_ID,
				MEM_PWD,
				MEM_NICK,
				MEM_PHONE,
				MEM_ZIP,
				MEM_ADDR,
				MEM_BDATE,
				MEM_DEPT,
				MEM_EMAIL,
				DON_RECEIPT,
				MEM_SSN,
				EMAIL_AGREE,
				SMS_AGREE,
				ACCT_NUM,
				BANK_NAME,
				MEM_STAT,
				MEM_NAME
		from member
		where MEM_ID = #{memId}
	</select>
	<select id="getReportList" resultType="ReportVO">
		select REP_ID,
				CATEGORY,
				MEM_ID,
				REP_DATE,
				CATEGORY_NO,
				REP_REASON,
				REQ_CODE
		from report
		where CATEGORY = #{category}
		order by rep_id
	</select>
	<update id="updateReport" parameterType="ReportVO">
		update report
		set REQ_CODE = #{reqCode}
		where REP_Id = #{repId}
	</update>
	<select id="getFacilityList" resultType="FacilityVO">
		select FAC_ID,
				BIZ_NUM,
				FAC_PWD,
				FAC_NAME,
				FAC_TYPE,
				FAC_ZIP,
				FAC_ADDR,
				FAC_ADDR_DETAIL,
				FAC_EST_DATE,
				FAC_EMAIL,
				FAC_WEB,
				FAC_INTRO,
				REP_NAME,
				REP_PHONE,
				FAC_BANK,
				DON_ACCT,
				DON_APP,
				MEM_APP
		from facility
		order by FAC_ID
	</select>
	<select id="getFacilityInfo" resultType="FacilityVO">
		select FAC_ID,
				BIZ_NUM,
				FAC_PWD,
				FAC_NAME,
				FAC_TYPE,
				FAC_ZIP,
				FAC_ADDR,
				FAC_ADDR_DETAIL,
				FAC_EST_DATE,
				FAC_EMAIL,
				FAC_WEB,
				FAC_INTRO,
				REP_NAME,
				REP_PHONE,
				FAC_BANK,
				DON_ACCT,
				DON_APP,
				MEM_APP
		from facility
		where fac_id = #{facId}
	</select>
	<select id="getDonationList" resultType="DonationVO">
		select DON_ID,
				FAC_ID,
				TITLE,
				REC_PERIOD,
				END_PERIOD,
				EXT_PERIOD,
				GOAL_AMT,
				PROJ_TARGET,
				INTRO,
				REC_STAT,
				DON_REG_APP,
				EXP_EFFECT
		from donation
		where DON_REG_APP = #{donRegApp}
		order by rec_period desc
	</select>
	<select id="getDonOne" resultType="DonationVO">
		select DON_ID,
				FAC_ID,
				TITLE,
				REC_PERIOD,
				END_PERIOD,
				EXT_PERIOD,
				GOAL_AMT,
				PROJ_TARGET,
				INTRO,
				REC_STAT,
				DON_REG_APP,
				EXP_EFFECT
		from donation
		where DON_ID = #{donId}
	</select>
	<select id="getBoardList" resultType="BoardVO">
		SELECT * 
		from(
			SELECT ROWNUM RN 
			,A.* 
		from(  
        	select BOARD_ID
        	,TITLE
        	,category
        	,CONTENT
        	,WRITE_DATE
        	,VIEWS
        	,PRIORITY
        	,MEM_ID
        	,MOD_DATE
        	,DETAIL_CATE
		from board
		where CATEGORY = #{category}
		<if test="searchKeyword!=null and searchKeyword!='' ">
			AND (title LIKE '%' || #{searchKeyword} || '%')		
		</if>
		order by BOARD_ID) A)
        where RN BETWEEN #{start} AND #{end}
	</select>
	<select id="getBoardCnt" resultType="int">
		select count(*)
		from board
		where CATEGORY = #{category}
		AND (title LIKE '%' || #{searchKeyword} || '%')
	</select>
	<select id="getNoticeOne" resultType="BoardVO">
		select BOARD_ID,
			TITLE,
			CONTENT,
			category,
			WRITE_DATE,
			VIEWS,
			PRIORITY,
			MEM_ID,
			MOD_DATE,
			DETAIL_CATE
		from board
		where CATEGORY = #{category}
		and detail_cate = #{detailCate}
	</select>
	<update id="updateNotice" parameterType="BoardVO">
		update board
		set
			PRIORITY=#{priority},
			TITLE=#{title},
			CONTENT=#{content},
			mod_date=sysdate
		where CATEGORY = #{category}
		and detail_cate = #{detailCate}
	</update>
	<delete id="delNotice" parameterType="String">
		delete
		from board
		where CATEGORY = #{category}
		and detail_cate = #{detailCate}
	</delete>
	<delete id="delFile" parameterType="String">
		delete 
		from files 
		where file_path = #{filePath}
	</delete>
	<insert id="insertNotice" parameterType="BoardVO">
		<selectKey keyProperty="detailCate" order="BEFORE" resultType="int">
			select notice_id.NEXTVAL from dual
		</selectKey>
		insert into board(
			board_id,
			CATEGORY,
			TITLE,
			CONTENT,
			PRIORITY,
			MEM_ID,
			DETAIL_CATE)
		values(board_id.NEXTVAL
				,#{category}
				,#{title}
				,#{content}
				,#{priority}
				,'ADMIN'
				,#{detailCate})
	</insert>
	<insert id="faqInsert" parameterType="FaqVO">
		insert into faq(
			faq_id,
			CATEGORY,
			TITLE,
			CONTENT)
		values(FAQ_SEQ.NEXTVAL
				,#{category}
				,#{title}
				,#{content})
	</insert>
	<insert id="inquireComments" parameterType="CommentsVO">
		insert into comments(
			COMM_ID,
			MEM_ID,
			CONTENT,
			COMM_DATE,
			CODE)
		values(COMMENTS_SEQ.NEXTVAL
				,'ADMIN'
				,#{content}
				,sysdate
				,'c02')
	</insert>
	<select id="getFaqList" resultType="FaqVO">
		SELECT * 
		from(
			SELECT ROWNUM RN 
			,A.* 
            from(
		select FAQ_ID,
			CATEGORY,
			TITLE,
			CONTENT
		from FAQ
		<where>
			<if test="category!=null">
				CATEGORY = #{category}
			</if>
		</where>
		order by FAQ_ID) A)
        where RN BETWEEN #{start} AND #{end}
	</select>
	<select id="getFaqCnt" resultType="int">
		select count(*)
		from FAQ
		<where>
			<if test="category!=null">
				CATEGORY = #{category}
			</if>
		</where>
	</select>
	<select id="getFaqOne" resultType="FaqVO">
		select FAQ_ID,
			CATEGORY,
			TITLE,
			CONTENT
		from FAQ
		where FAQ_ID = #{faqId}
	</select>
	<delete id="delFaq" parameterType="Integer">
		delete
		from FAQ
		where FAQ_ID = #{faqId}
	</delete>
	<update id="updateFacApp" parameterType="FacilityVO">
		update facility set mem_app=1 where fac_Name=#{facName}
	</update>
	<update id="updateDonApp" parameterType="FacilityVO">
		update facility set don_app=1 where fac_id=#{facId}
	</update>
	<update id="updateDonRegApp" parameterType="FacilityVO">
		update donation set don_reg_app=1 where don_id=#{donId}
	</update>
	<update id="updateInquire" parameterType="Integer">
		update board set PRIORITY=1 where board_id=#{boardId}
	</update>
	<select id="inquireCommentOne" resultType="CommentsVO">
		select COMM_ID,
				MEM_ID,
				CONTENT,
				COMM_DATE,
				CODE
		from comments
		where DETAIL_CODE=#{detailCode}
		and CODE = 'c02'
	</select>
	<select id="selectFile" resultType="FilesVO">
		select * from files where code='p05' and code_no=#{codeNo}
	</select>
	<select id="DonationKing" resultType="DonledgerVO">
		select sum(don_amt) as total,mem_id,(select mem_name from member where mem_id=don_ledger.mem_id) as mName
        from don_ledger 
        where pay_date BETWEEN (SELECT TRUNC(SYSDATE, 'MM')
        FROM   DUAL) and (SELECT LAST_DAY(SYSDATE) from dual)
        group by mem_id
        order by total desc
	</select>
	<select id="meetingList" resultType="VolunteerVO">
		select meet_name
				,vol_id
				,cap
				,region
				,REC_PERIOD
				,end_period
				,(select count(*) from vol_mem where vol_id=volunteer.vol_id and app_code=1) as meetingCnt
        from volunteer
        <where>
        	<if test="roomStat!=null">
        		room_stat = #{roomStat}
        	</if>
        	<if test="volId!=null">
        		and vol_id != #{volId}
        	</if>
        </where>
	</select>
	<select id="tagList" resultType="TagVO">
		select tag_content,
				vol_id
		from tag
		<where>
        	<if test="volId!=null">
        		vol_id = #{volId}
        	</if>
        </where>
		order by tag_id
	</select>
	<select id="facVolunteerList" resultType="VolunteerVO">
		select (select fac_name from facility where fac_id=vol_act.fac_id) as facName
				,(select count(*) from vol_mem where vol_act_id=vol_act.vol_act_id and app_code=1) as capCnt
				,fac_id
				,category
				,title
				,location
				,cap
				,vol_Date
		from vol_Act
		where fac_id is not null
		order by vol_act_id
	</select>
	<select id="memMeetList" resultType="VolunteerVO">
		select (select meet_name from volunteer where vol_id=vol_mem.vol_id) as facName,app_date
		from vol_mem 
		where mem_id=#{memId} and app_code=1
	</select>
	<select id="donationLedgerList" resultType="DonaVO">
		select l.pay_date
				,l.anon_check
				,l.mem_id
				,l.don_amt
				,d.title
		from don_ledger l join donation d
		on  l.don_id=d.don_id
		where d.rec_stat=#{recStat}
		order by pay_date
	</select>
	<select id="facDonLedgerList" resultType="DonaVO">
		select l.pay_date
		,l.anon_check
		,l.mem_id
		,l.don_amt
		,d.title
		from don_ledger l join donation d
		on  l.don_id=d.don_id
		where d.don_id=#{donId}
		order by pay_date
	</select>
	<select id="donationSettlement" resultType="DonaVO">
		select fac_id
				,don_id
				,title
				,end_period
				,ext_period
				,goal_amt
				,nvl((select SUM(don_amt) from don_ledger where don_id=donation.don_id group by don_id),0) as total
				,(select fac_bank from facility where fac_id=donation.fac_id) as backName
				,(select don_acct from facility where fac_id=donation.fac_id) as bankAcct
		from donation 
		where rec_stat=1 
		and paid_code=0
		order by don_id
		
	</select>
	<select id="checkFacDonation" resultType="DonaVO">
		select f.fac_name
				,d.title
				,f.BIZ_NUM
				,f.fac_bank
				,f.don_acct
				,d.don_id
				,nvl((select SUM(don_amt) from don_ledger where don_id=d.don_id group by don_id),0) as total
		from facility f join donation d
		on f.fac_id=d.fac_id
		where d.rec_stat=1 
		and d.paid_code=0
		and d.don_id=#{donId}
	</select>
	<select id="remittanceList" resultType="RemittanceVO">
		select rem_total
				,rem_date
				,fac_name
				,(select title from donation where don_id=remittance.don_id) title
				,(select file_name from files where code='p06' and code_no=remittance.don_id) checking
				,(select fac_email from facility where fac_name = remittance.fac_name) email
				,deadline_date 
		from remittance
	</select>
	<update id="updatePaidCode" parameterType="RemittanceVO">
		update donation set paid_code=1 where don_id=#{donId}
	</update>
	<insert id="insertRemittance" parameterType="RemittanceVO">
		insert into remittance 
		values(rem_seq.NEXTVAL
				,#{donId}
				,#{remTotal}
				,sysdate
				,#{remBank}
				,#{remAcct}
				,SYSDATE+7
				,#{facName})
	</insert>
	<select id="alertList" resultType="AlertVO">
		select ALERT_ID
				,CATEGORY
				,CONTENT
				,ALERT_DATE
				,READ_FLAG
		from alert
		where mem_id='ADMIN'
	</select>
</mapper>