<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bongsamaru.admin.mapper.UserMapper">
	<select id="getUserList" resultType="UserVO">
		select MEM_ID,
				MEM_PWD,
				MEM_NICK,
				MEM_PHONE,
				MEM_ZIP,
				MEM_ADDR,
				MEM_BDATE,
				MEM_DEPT,
				MEM_EMAIL,
				DON_RECEIPT,
				MEM_SSN,
				EMAIL_AGREE,
				SMS_AGREE,
				ACCT_NUM,
				BANK_NAME,
				MEM_STAT,
				MEM_NAME
		from member
		where MEM_STAT = #{memStat}
	</select>
	<select id="getFacilityList" resultType="FacilityVO">
		select FAC_ID,
				BIZ_NUM,
				FAC_PWD,
				FAC_NAME,
				FAC_TYPE,
				FAC_ZIP,
				FAC_ADDR,
				FAC_ADDR_DETAIL,
				FAC_EST_DATE,
				FAC_EMAIL,
				FAC_WEB,
				FAC_INTRO,
				REP_NAME,
				REP_PHONE,
				FAC_BANK,
				DON_ACCT,
				DON_APP,
				MEM_APP
		from facility
	</select>
	<select id="getDonationList" resultType="DonationVO">
		select DON_ID,
				FAC_ID,
				TITLE,
				REC_PERIOD,
				END_PERIOD,
				EXT_PERIOD,
				GOAL_AMT,
				PROJ_TARGET,
				INTRO,
				REC_STAT,
				DON_REG_APP,
				EXP_EFFECT
		from donation
	</select>
</mapper>