<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 등록폼 </title>
    <link rel="stylesheet" th:href="@{/donation/form/bootstrap.min.css}">
    <!-- 다른 필요한 CSS 파일 여기에 추가 -->
</head>
<body>
 <section layout:fragment="content" >

<form name="reviewForm">
<!-- 나중에 버튼에 
<h5><a th:href="@{/reviewform(donId=${dona.donId}, facId=${dona.facId})}" th:text="${dona.title}" style="color: black;"> 제목</a> 
<input type="hidden" name="donId" th:value="${donaVO.donId}">
<input type="hidden" name="facId" th:value="${donaVOfacId}"> -->

  <fieldset>
    <legend> Donation Review Form </legend>

    <div class="form-group">
      <label for="formFile" class="form-label mt-4">영수증 첨부</label>
      <input class="form-control" type="file" name="uploadfiles" id="formFile">
    </div>
 
<!--     
    <div class="form-group">
      <label for="execAmt" class="form-label mt-4">총 모금액</label>
      <input type="text" class="form-control" name="execAmt" id="execAmt" placeholder="(원)" autocomplete="off">
    </div>
    
    <div class="form-group">
      <label for="goalAmt" class="form-label mt-4">목표모금액</label>
      <input type="text" class="form-control" id="goalAmt" placeholder="(원)" autocomplete="off">
    </div>
-->     
    
    <div class="form-group">
      <label for="period" class="form-label mt-4"> 사업집행기간 (DATE)</label>
      <input type="date" class="form-control" name="startPeriod" th:datetime="${#dates.format(startPeriod, 'yyyy-MM-dd')}" id="startPeriod" placeholder="기부모금시작 " autocomplete="off">
      <input type="date" class="form-control" name="endPeriod" th:datetime="${#dates.format(endPeriod, 'yyyy-MM-dd')}" id="endPeriod" placeholder="기부모금종료기간 " autocomplete="off">
    </div>


    <div class="form-group">
      <label for="bizCost" class="form-label mt-4">총사업비</label>
      <input type="text" class="form-control" name="bizCost" id="bizCost" placeholder="(원)" autocomplete="off">
    </div>
    
    
    <div class="form-group">
      <label for="usePlan" class="form-label mt-4">기부금 사업내역(bizcontent, bizAmt)</label>
      <div id = "dynamicFields" class="mb-3">
      	<div class="input-group">
	      <input type="text" class="form-control" name="bizContent" id="usePlan" placeholder="구체적사업내용" autocomplete="off"> 
	      <input type="text" class="form-control" name="bizAmt" placeholder="구체적사업비(원)" autocomplete="off">
	      <button type="button" class="btn btn-outline-secondary" onclick="addInputs('dynamicFields')">+</button>
      	</div>
      </div>
    </div>
    
    
    <div class="form-group">
	  <label for="review" class="form-label mt-4">후기글</label>
	    <div id="articleContainer" class="mb-3">
	        <div class="input-group">
	        	<input type="text" class="form-control" name="title" id="title" placeholder="제목" autocomplete="off">
	        </div>
	        <div class="input-group">
	            <textarea class="form-control" name="content" id="content" rows="3"></textarea>
	        </div>
	        
	    </div>
	</div>
	

	<div class="form-group">
	    <label for="formFile2" class="form-label mt-4">추가 이미지 첨부파일(+)</label>
	    <div id="formFile2Container" class="mb-3">
	        <div class="input-group">
	            <input class="form-control" type="file" name="uploadfiles" id="formFile2">
	            <button type="button" class="btn btn-outline-secondary" onclick="addInputs('formFile2Container')">+</button>
	        </div>
	    </div>
	</div>
    
    
    <fieldset class="form-group">
      <legend class="mt-4">필수 동의 </legend>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          유의사항을 읽었습니다.
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
        <label class="form-check-label" for="flexCheckChecked">
         약관동의합니다.
        </label>
      </div>
    </fieldset>

    
    <button type="button" class="btn btn-primary" onclick="submitForm()">등록하기 </button>
    
  </fieldset>
</form>


<script th:inline="javascript">

//폼 제출하기
	function submitForm(){
	
	console.log('제출하기 클릭!');
    event.preventDefault();
    
    
    let formData = new FormData(document.querySelector('form[name="reviewForm"]'));
    							
 		
    //let donId = document.querySelector('input[name="donId"]').value;
    //let facId = document.querySelector('input[name="facId"]').value;

   
    //formData.append('donId', donId);
    //formData.append('facId', facId);
    
    
    
	
	let donId = 1; //임시방편임
	formData.append('donId', donId);
	
	let fileInputs = document.querySelectorAll('input[type="file"]');
    fileInputs.forEach(function(fileInput) {
        for (let i = 0; i < fileInput.files.length; i++) {
            formData.append('uploadfiles', fileInput.files[i]);
        }
    });
	
    
    
		    document.querySelectorAll('form[name="donaForm"] input').forEach(function(input) {
		        console.log(input.name + ': ' + input.value);
		    });
    
		    
    $.ajax({
    	type: 'POST',
        url: 'reviewForm',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
            
            console.log("ajax 안에 success response " + response);

            alert("등록성공!");
            location.href = "my/mypage";
            return;
        },
        error: function(error) {
           
            console.error(error);
        }
    })
    
	} //end
	




//동적 폼 처리하기
    let dynamicFieldsCount = 1;
    let formFile2ContainerCount = 1;
    const maxCount = 3;

    function addInputs(type) {

        let container = document.getElementById(type);
        if (!container) {
            console.error("찾을 수 없는 CONTAINER: " + type);
            return;
        }

        let count;
        

        switch (type) {
        case "dynamicFields":
            count = dynamicFieldsCount;
            if (count >= maxCount) {
                alert("더 이상 추가할 수 없습니다.");
                return;
            }
            dynamicFieldsCount++;
            break;
        case "formFile2Container":
            count = formFile2ContainerCount;
            if (count >= maxCount) {
                alert("더 이상 추가할 수 없습니다.");
                return;
            }
            formFile2ContainerCount++;
            break;
        default:
            console.error("Invalid type: " + type);
            return;
    }

        let newFields = document.createElement("div");
        newFields.className = "mb-3";

        if (type === "dynamicFields") {
            newFields.innerHTML =
                `<div class="input-group">` +
                `<input type="text" class="form-control" name="usePlans[${count}].bizContent" id="detailBiz" placeholder="구체적사업내용" autocomplete="off">` +
                `<input type="text" class="form-control"  name="usePlans[${count}].bizCost" id="detailAmt" placeholder="구체적사업비" autocomplete="off">` +
                `<button type="button" class="btn btn-outline-secondary" onclick="removeInputs(this, '${type}')">-</button>` +
                `</div>`;
        } else if (type === "formFile2Container") {
            newFields.innerHTML =
                `<div class="input-group">` +
                `<input class="form-control" type="file" name="uploadfiles${count+1}" id="formFile2">` +
                `<button type="button" class="btn btn-outline-secondary" onclick="removeInputs(this, '${type}')">-</button>` +
                `</div>`;
        }

        container.appendChild(newFields);
    }

    function removeInputs(button, type) {
        button.parentNode.remove();
    }
</script>


</section>
</body>