<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">  -->
<head>
<meta charset="UTF-8">
<title>시설리스트</title>
</head>
<body>
<section>
<h2>시설소개 이미지 들어가기</h2>
</section>
<h1>봉사마루와 함께하는 시설들</h1>
<div>
<!-- <select th:field="*{ResionVO}" class="form-select">
<option value="">==지역==</option>
<option th:each="ResionVO : ${resions}" th:value="${ResionVO.code}" th:text="${ResionVO.displayName}"/>
</select>
</div>
<div>
<select th:field="*{ServiceType}" class="form-select">
<option value="">==봉사유형==</option>
<option th:each="ServiceType : ${ServiceTypes}" th:value="${ServiceType.code}" th:text="${ServiceType.displayName}"/>
</select> -->


<!-- <div>
<select th:field="*{RegionVO}" class="form-select">
<option value="">==지역==</option>
<option th:each="reson: ${regions}" th:value="${resion.code}" th:text="${resion.displayName}"/>
</select>
</div> -->
<!-- <div>
<select th:field="*{selectBox}" class="form-select">
<option value="">==봉사유형==</option>
<option th:each="facility : ${facType}" th:value="${facilityVO.facType}" th:text="${facilityVO.facType}"/>
</select>
</div> -->



<th:block th:each="facility:${list}">
<div>
 <h3>이미지 넣고</h3>
 <h3 th:text="${facility.facName}"></h3>
 <h3 th:text="${facility.region}"></h3>
 <h3 th:text="${facility.facType}"></h3>  
</div>
</th:block>
</div>

</body>
</html>