<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">  -->
<head>
<meta charset="UTF-8">
<title>시설상세</title>
<style>
.facilityIntro{
float:left;
}
</style>
</head>
<body>
<!-- <div>
<ul class="HappylogLnb_wrap__2JV5L" role="menubar">
<li class="HappylogLnb_item__1rk3W" role="presentation">
<a class="HappylogLnb_link__3Arn0" role="menuitem" aria-current="true" href="/hlog/edenroh/home">
<span class="HappylogLnb_menu__27Ku8">홈</span></a></li>

<li class="HappylogLnb_item__1rk3W" role="presentation">
<a class="HappylogLnb_link__3Arn0" role="menuitem" aria-current="false" href="/hlog/edenroh/donation">
<span class="HappylogLnb_menu__27Ku8">모금함<span class="HappylogLnb_number__3Nhw2">3</span></span></a></li>

<li class="HappylogLnb_item__1rk3W" role="presentation">
<a class="HappylogLnb_link__3Arn0" role="menuitem" aria-current="false" href="/hlog/edenroh/review">
<span class="HappylogLnb_menu__27Ku8">모금후기</span></a></li><li class="HappylogLnb_item__1rk3W" role="presentation">
<a class="HappylogLnb_link__3Arn0" role="menuitem" aria-current="false" href="/hlog/edenroh/info">
<span class="HappylogLnb_menu__27Ku8">시설정보</span></a></li></ul>
</div> -->

<div>
	<ul class="nav navbar-nav menu_nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="index.html">홈</a></li> 
        <li class="nav-item"><a class="nav-link" href=".html">모금함<span>3</span></a></li>
        <li class="nav-item active"><a class="nav-link" href="facilityDonation.html">모금후기</a></li>
        <li class="nav-item"><a class="nav-link" href="facilitiyVolunteer.html">봉사후기</a></li>
        <li class="nav-item"><a class="nav-link" href="introduce.html">시설정보</a></li>
    </ul>
</div>

<section class="facilityIntro">
<div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/sdfsdf.jpg" alt="">
                                <h2 class="btn theme_btn button_hover">시설이름</h2>
                            </div>
                            <h4 class="sec_h4">총기부자수</h4>
                            <h5 class="sec_h5">총기부금액</h5>
                        </div>
                    </div>
</section>                    
<div>

</div>




</body>
</html>