<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>시설상세</title>
 <style>
.facility{
display:inline-block;
}
</style>
</head>
<body>
<section layout:fragment="content">
<div class="container">
<div th:insert="~{banner/empty::banner}"></div>
<div th:insert="~{facility/facilityNav::nav}"></div>

<div class="row container">
<div class="col-3">
<div th:insert="~{facility/facilityInfoSide::side}"></div>
</div>
<div class="facility col-9">
<h3>시설정보</h3>
<hr>
<p th:text="${facilityInfo.facName}"></p>

<p th:text="${facilityInfo.category}"></p>

<p th:text="기부금공제구분"></p>
<p th:text="${facilityInfo.repName}"></p>
<p th:text="${facilityInfo.bizNum}"></p>
<p th:text="${facilityInfo.repPhone}"></p>
<p th:text="|주소 ${facilityInfo.facAddr},${facilityInfo.facAddrDetail}|"></p>
<hr>

</div>
</div>
</div>






</section>
</body>
</html>