<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="sources/image/favicon.png" type="image/png">
<title>Royal Hotel</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../userresources/css/bootstrap.css">
<link rel="stylesheet"
	href="../userresources/vendors/linericon/style.css">
<link rel="stylesheet" href="../userresources/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../userresources/vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet"
	href="../userresources/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet"
	href="../userresources/vendors/nice-select/css/nice-select.css">
<link rel="stylesheet"
	href="../userresources/vendors/owl-carousel/owl.carousel.min.css">
<!-- main css -->
<link rel="stylesheet" href="../userresources/css/style.css">
<link rel="stylesheet" href="../userresources/css/responsive.css">
 <style>
.facilityIntro{
float:left;
display:inline-block;
margin-right:30px;
}

</style>
</head>
<body>
	<!--================Header Area =================-->
	<header class="header_area">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" href="index.html"><img
					src="../userresources/image/Logo.png" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset"
					id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item active"><a class="nav-link"
							href="index.html">흠?</a></li>
						<li class="nav-item"><a class="nav-link" href="about.html">소개</a></li>
						<li class="nav-item"><a class="nav-link"
							href="accomodation.html">봉사</a></li>
						<li class="nav-item"><a class="nav-link" href="gallery.html">기부</a></li>
						<li class="nav-item submenu dropdown"><a href="#"
							class="nav-link dropdown-toggle" data-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">챌린지</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="blog.html">챌린지</a></li>
								<li class="nav-item"><a class="nav-link"
									href="blog-single.html">Blog Details</a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link" href="elements.html">로그인</a></li>
						<li class="nav-item"><a class="nav-link" href="contact.html">회원가입</a></li>
						<li class="nav-item"><a class="nav-link" href="contact.html">알람</a></li>
						<li class="nav-item"><a class="nav-link" href="contact.html">쪽지</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!--================Header Area =================-->
	<section class="accomodation_area section_gap">
		<div class="container">
			<!-- 고정된 content1 -->
			<div class=" d-flex  justify-content-center">
  <nav class="navbar navbar-expand-lg navbar-light ">
	<ul class="nav navbar-nav menu_nav ml-auto " >
        <li class="nav-item"><a class="nav-link" th:href="@{/fInfo/facilityInfo(facId=${session.facilityInfo.facId})}">홈</a></li> 
        <li class="nav-item"><a class="nav-link" th:href="@{/fInfo/fundingList(facId=${session.facilityInfo.facId})}">기부<span>3</span></a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/fInfo/volunteerList(facId=${session.facilityInfo.facId})}">봉사</a></li>
    </ul>
    </nav>
</div>

<div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center facilityIntro">
                            <div class="hotel_img">
                                <img src="../image/sdfsdf.jpg" alt="">
                                <h2 th:text="${session.facilityInfo.facName}"></h2>
                            </div>
                            <h4 class="sec_h4" th:text="${session.facilityInfo.donors} + '명'">총기부자수</h4>
                            <h5 class="sec_h5" th:text="${session.facilityInfo.donaitonAmt}+'원'">총기부금액</h5>
                        </div>
                    </div>
			

			<!-- <section th:replace="facilityInfo::content1"></section> -->
			<!-- <section th:replace="fragments/content1 :: content"></section> -->
			<section layout:fragment="content"></section>
		</div>
	</section>
	<div class="divfooter" th:insert="~{footer::copy}"></div>

</body>

</html>