<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>기부 후기</title>
</head>
<body>
<div class="row mb_30">
<th:block th:each="funding:${list}">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-recent-blog-post">
                            <div class="thumb">
                                <img class="img-fluid" src="image/blog/blog-1.jpg" alt="post">
                            </div>
                            <div class="details">
                                <div class="tags">
                                    <!-- <a href="#" class="button_hover tag_btn">Travel</a>
                                    <a href="#" class="button_hover tag_btn">Life Style</a> -->
                                </div>
                                <h4 class="sec_h4" th:text="${funding.title}"></h4>
                                <p th:text="${funding.donors}">명 참여</p>
                                <h6 class="date title_color" th:text="${funding.goalAmt}"></h6>
                            </div>	
                        </div>
                    </div>
                </div> <!-- 여기까지 이미지 세개 -->
</th:block>


</body>
</html>