<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>봉사완료후</title>
</head>
<body>
 <section layout:fragment="content">
	<div class="row hotel_booking_table">
					<div class="col-md-3">
                        
                    </div>
                    <div class="col-md-9">
                        <div class="boking_table">
                       
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                     <p style="color:black; font-size:26px">봉사제목</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                      <p style="color:black; font-size:26px">봉사내용</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                      <p style="color:black; font-size:26px">참여자승인</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                       <p style="color:black; font-size:26px">후기작성</p>
                                       
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <h2>기부신청<br>진행상황</h2>
                    </div>
                    <div class="col-md-9">
                        <div class="boking_table">
                       
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                     <p  th:text="${#numbers.formatInteger(dona.goalAmt,3,'COMMA')+'원'}" ></p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                      <p th:text="${#dates.format(dona.recPeriod,'yyyy-MM-dd')} +'~'+${#dates.format(dona.endPeriod,'yyyy-MM-dd')}"></p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                       <p th:text="${dona.donRegApp}"></p>
                                       
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>

</section>
</body>
</html>