<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>시설마이페이지</title>


</head>
<body>
	<section layout:fragment="content"  class="d-flex">
 		<div class="side col-2" th:insert="~{facility/sidebar::side}"></div>
  	    <div class="col-md-10 main-content">
		                
                <div class="row hotel_booking_table">
                <div class="col-md-3">
                    
                    </div>
                    <div class="col-md-9">
                        <div class="boking_table">
                       
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                     <p style="color:black; font-size:20px">기부제목</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                      <p style="color:black; font-size:20px">모집기간</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                       <p style="color:black; font-size:20px">모집금액</p>
                                       
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                       <p style="color:black; font-size:20px">달성률</p>
                                       
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                       <p style="color:black; font-size:20px">후기작성</p>
                                       
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h2>진행된<br>기부리스트</h2>
                    </div>
                    
                    <div class="col-md-9">
                        <div class="boking_table">
                            <div class="row">
                            <th:block th:each="dona0:${donaList0}">
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                     <p th:text="${dona0.title}"></p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                      <p th:text="${#dates.format(dona0.recPeriod,'yyyy-MM-dd')} +'~'+${#dates.format(dona0.endPeriod,'yyyy-MM-dd')}"></p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                       <p th:text="${#numbers.formatInteger(dona0.targetOk,3,'COMMA')+'원'}"></p>
                                     
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                       <p th:text="${dona0.donationRatio}+'%'"></p>
                                     
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                      
                                        <a class="book_now_btn button_hover" href="#">후기작성</a>
                                    </div>
                                </div>
                                </th:block>   
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <br>
                <br>
                <br>
                <br>
                
                <div class="row hotel_booking_table">
                <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-9">
                        <div class="boking_table">
                       
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                     <p style="color:black; font-size:20px">기부제목</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                      <p style="color:black; font-size:20px">모집기간</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                       <p style="color:black; font-size:20px">모집금액</p>
                                       
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                       <p style="color:black; font-size:20px">달성률</p>
                                       
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                       <p style="color:black; font-size:20px">후기작성</p>
                                       
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h2>완료된<br>기부리스트</h2>
                    </div>
                    
                    <div class="col-md-9">
                        <div class="boking_table">
                            <div class="row">
                            <th:block th:each="dona:${donaList1}">
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                     <p th:text="${dona.title}"></p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="book_tabel_item">
                                      <p th:text="${#dates.format(dona.recPeriod,'yyyy-MM-dd')} +'~'+${#dates.format(dona.endPeriod,'yyyy-MM-dd')}"></p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                       <p th:text="${#numbers.formatInteger(dona.targetOk,3,'COMMA')+'원'}"></p>
                                     
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                       <p th:text="${dona.donationRatio}+'%'"></p>
                                     
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="book_tabel_item">
                                      
                                        <a class="book_now_btn button_hover" href="#">후기작성</a>
                                    </div>
                                </div>
                                </th:block>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</section>
</body>
</html>