<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>시설 마이페이지 사이드바</title>

</head>
<body>
<div th:fragment="side">
  
 <div class="flex-shrink-0 p-3 bg-white">
    
    <ul class="list-unstyled ps-0">
      <li class="mb-2">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#volunteer-collapse" aria-expanded="true">
          봉사관련
        </button>
        <div class="collapse pt-2" id="volunteer-collapse">
          <ul class="btn-toggle-nav list-unstyled font-weight-bold pt-1 small">
            <li>
              <a th:href="@{/fac/volJoin}" class="link-dark rounded pt-2 pb-2"><button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#volunteer-ongoing" aria-expanded="true">
                신청<br>&신청내역
              </button></a>
            </li>
            <li>
             <a th:href="@{/fac/volFinish}" class="link-dark rounded pt-2 pb-2">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#volunteer-completed" aria-expanded="true">
                봉사완료 <br>후기작성
              </button></a>
            
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-2" style="font-size: 1.7em;">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#dashboard-collapse" aria-expanded="true">
          기부관련
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled font-weight-bold pt-1 small">
            <li><a th:href="@{/fac}" class="link-dark rounded pt-2 pb-2" >기부승인</a></li>
            
            <li><a th:href="@{/fac/donaInfo}" class="link-dark rounded pt-2 pb-2" >기부내역</a></li>
          </ul>
        </div>
      </li>
     
      
      
      <li class="mb-2">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#orders-collapse" aria-expanded="true">
          정보수정
        </button>
      </li>
    </ul>
  </div>
 





 </div>
</body>
</html>