<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section layout:fragment="content">
	<div class="body-wrapper" style="width:50%;margin:auto">
		<div class="container-fluid">
		<div class="container">
		<div id="content">
			<h2 style="text-align: center;">봉사 후기 등록</h2>
			<br><input type="hidden" name="detailCate">
		
			<label>후기 제목</label>
               <input class='write-1' type="text" name="title" max="30">
			<hr>
			<!-- 에디터를 적용할 요소 (컨테이너) -->
			<hr>
			<div id="contents"></div>
			<hr>
			<button type="button" onClick="modalOpen()" style="float: right;width:80px" class="btn btn-success m-1">등록</button>
               <a th:href="@{../freeBoardList(category=b03,volId=${session.id})}" type="button" style="float: right;width:90px" class="btn btn-primary m-1">돌아가기</a>
		</div>
		<!-- TUI 에디터 JS CDN -->
		<!-- 모달창 -->
		<div class="modal fade" id="confimModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="deleteConfirmationModalLabel">등록 확인</h5>
		            </div>
		            <div class="modal-body">
		                <p>등록 후 수정이 불가능합니다.<br>등록하시겠습니까?</p>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-danger" id="noBtn" data-dismiss="modal" aria-hidden="false">아니오</button>
		                <button type="button" class="btn btn-secondary" id="yesBtn" data-dismiss="modal" aria-hidden="false">네</button>
		            </div>
		        </div>
		    </div>
		 </div>
		 
		</div>
	</div>
</div>		
<script>
const urlParams = new URLSearchParams(window.location.search);
const volActId = urlParams.get('volActId');

	const editor = new toastui.Editor({
		el : document.querySelector('#contents'), // 에디터를 적용할 요소 (컨테이너)
		height : '500px', // 에디터 영역의 높이 값 (OOOpx || auto)
		initialEditType : 'wysiwyg', // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
		previewStyle : 'vertical', // 마크다운 프리뷰 스타일 (tab || vertical)
		placeholder : "내용을 입력하세요",
		hooks: {
	    	addImageBlobHook: (blob, callback) => {
	    		let url = "http://localhost:8585"
	    		const formData = new FormData();
	        	formData.append('uploadFiles', blob);
	        	formData.append("code", "p16")
          			formData.append("codeNo", '');
          			$.ajax({
	           		url: '/uploadsAjax',
	           		type: 'POST',
	           		processData: false,
	           		contentType: false,
	           		data: formData,
	           		success: function(datas) {
	           			url = url + datas;
	           			url = url.replace(/\\/g, '/')
	           			callback(url);
	           		},
	           		error: function(e) {
	           			callback('image_load_fail', '사진을 읽어들일 수가 없습니다.');
	           		}
	           	});	
	        	
	        }
	    }
	});
	

function modalOpen(){
	const startDate = $("input[name='startDate']")
	const expireDate = $("input[name='expireDate']")
	const volDate = $("input[name='volDate']")
	const title = $("input[name='title']")
	const content = editor.getMarkdown();
	const addr = $('#facAddr2');
	
	if(startDate.val()>expireDate.val()){
		alert('날짜가 올바르지 않습니다.\n기간을 다시 확인해주세요!');
		return;
	};
	
	if(startDate.val()==''){
		alert('날짜를 입력하세요!');
		return;
	}else if(expireDate.val()==''){
		alert('내용을 입력하세요!');
		return;
	}else if(volDate.val()==''){
		alert('내용을 입력하세요!');
		return;
	}else if(title.val()==''){
		alert('내용을 입력하세요!');
		return;
	}else if(content==''){
		alert('내용을 입력하세요!');
		return;
	}else if(addr.val()==''){
		alert('내용을 입력하세요!');
		return;
	}
	
	$("#confimModal").modal("show");
	
	$("#yesBtn").on('click',function () {
		checking();
	});
};

$("#noBtn").on('click',function () {
    $("#confimModal").modal("hide");
});

function checking(){
	
	const title = $("input[name='title']").val();
	const content = editor.getMarkdown();
    if(title.val()==''){
		alert('제목을 입력하세요!');
		return;
	}else if(content==''){
		alert('내용을 입력하세요!');
		return;
	}
	var formData = new FormData();
	formData.append("title",title);
	formData.append("content",content);
	$.ajax({
         		url: 'volReviewInsert',
         		type: 'POST',
         		processData: false,
         		contentType: false,
         		data: formData,
         		success: function(data) {
         			//location.href="volBoardList?volId="+[[${session.id}]]
         		},
         		error: function(e) {
         			console.log('실패');
         		}
         	});
}

	</script>
</section>

</body>
</html>