<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <section layout:fragment="content">
  	<div class="container-fluid">
	  <h2>봉사 프로젝트</h2>
		<div style="float:right;color:black" class="cur">
	</div>
	<div id="tableData">
		<div id="meetVolList">
		<br>
	        <div class="row">
	          <div class="col-sm-6 col-xl-3" style="color:black;width:25%" th:each="meet : ${meet}">
	            <div class="card overflow-hidden rounded-2">
	              <div class="position-relative">
	                <a><img src="donation/board/img/fruite-item-5.jpg" class="card-img-top rounded-0" alt="..." style="height:200px"></a>
	              </div>
	              <div class="text-white px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;background-color:#ffb524">
				    <span>모집중</span><br>
					</div>
	               <div class="d-flex align-items-center justify-content-between">
		            <div class="p-4 pb-0 rounded-bottom" style="width:400px">
		                <h4><a th:text="${meet.meetName}">동아리명</a></h4>
		                <a href="#" style="color:gray">
						   <span th:text="'#'+${meet.region}"></span>
						   <span th:each="tag : ${tag}" th:if="${tag.volId}==${meet.volId}">#[[${tag.tagContent}]] </span>
						</a>
						<br>
						<Strong><span>모집기간</span></Strong>
						<br>
	                    <span th:text="${#dates.format(meet.recPeriod, 'yy.MM.dd')}+' ~ '+${#dates.format(meet.endPeriod, 'yy.MM.dd')}">2024-02-04 ~ 2024-09-04</span>
	                    <br>
	                    <span th:text="'정원 : '+${meet.meetingCnt}+'/'+${meet.cap}+'명'">정원 : 3/10명</span>
						 <br>
		            </div>
	               </div>
	            </div>
	          </div>
	        </div>
        </div>
      </div>
      </div>
  </section>
</body>
</html>