<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
<!-- selectbox --> 
<mapper namespace="com.bongsamaru.facility.mapper.FacilityMapper">


<!-- 시설리스트 -->
<select id="getFacilityList" resultType="FacilityVO">
	SELECT fac_Name,
	instr(fac_addr, ' ') as resion,
	fac_Type
	FROM FACILITY
</select>
<select id="getFacilityInfo" resultType="FacilityVO">
 SELECT FAC_NAME, 
 		FAC_INTO,
 		FAC_
</select>
<select id="get">
select rec_period, end_period, goal_amt, proj_target, intro,exp_effect from donation where fac_id=#{facId}
</select>
</mapper>



