<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bongsamaru.challenges.mapper.ChallengeMapper">
<!-- 챌린지리스트 -->
<select id="getChallengeList" resultType="ChallengesVO">

SELECT  C.CHAL_ID, 
		C.MEM_ID,
		C.TITLE, 
		C.CONTENT, 
		F.FILE_PATH, 
		F.FILE_ORDER, 
		F.FILE_NAME, 
		F.EXTENSION, 
		F.FILE_SIZE,  
		F.CODE_NO 
  FROM  CHALLENGE C 
  LEFT  JOIN FILES F ON CAST(C.CHAL_ID AS VARCHAR2(100)) = F.CODE_NO
   AND  F.CODE ='p03'
 WHERE FILE_ORDER = 1
  
</select>
<!-- 챌린지인포 -->
<select id="getChallengeInfo" resultType="ChallengesVO">

SELECT  CHAL_ID, 
		MEM_ID,
		TITLE, 
		CONTENT, 
        EXP_IMPACT,
        ACTION_REASON,
        REG_DATE,
        PART_METHOD1,
        PART_METHOD2
  FROM  CHALLENGE
  WHERE  CHAL_ID=#{chalId}
</select>
<select id="getChallengeFile" resultType="ChallengesVO">
        
SELECT  F.FILE_PATH, 
		F.FILE_ORDER, 
		F.FILE_NAME, 
		F.EXTENSION, 
		F.FILE_SIZE,  
		F.CODE_NO 
   FROM CHALLENGE C 
   LEFT JOIN FILES F ON CAST(C.CHAL_ID AS VARCHAR2(100)) = F.CODE_NO
    AND F.CODE ='p03'
  WHERE C.CHAL_ID=#{chalId}
</select>

<!-- 한 챌린지 내 참여리스트  -->
<select id="getChallengesList" resultType="ChallengesVO">
 	
SELECT  C.CHAL_DET_ID,
		C.CHAL_ID, 
		C.MEM_ID,
		C.CONTENT, 
		C.PART_DATE, 
		F.FILE_PATH, 
		F.FILE_ORDER, 
		F.FILE_NAME, 
		F.EXTENSION, 
		F.FILE_SIZE,  
		F.CODE_NO 
   FROM CHAL_DETAIL C 
   LEFT JOIN FILES F ON CAST(C.CHAL_DET_ID AS VARCHAR2(100)) = F.CODE_NO
    AND F.CODE ='p04'
  WHERE C.CHAL_ID=#{chalId}
   
  
</select>

<!-- 챌린지 등록-->
<insert id="getChallengeInsert" parameterType="ChallengesVO">
	<selectKey keyProperty="chalId" resultType="int"	order="BEFORE">
			SELECT NVL(MAX(CHAL_ID),0)+1 FROM CHALLENGE
	</selectKey>
		INSERT ALL 
		
		INTO CHALLENGE
				(CHAL_ID,
				 MEM_ID,
				 TITLE,
				 CONTENT,
				 EXP_IMPACT,
				 ACTION_REASON,
				 REG_DATE,
				 PART_METHOD1,
				 PART_METHOD2)
		 VALUES
				(#{chalId},
				#{memId},
				#{title},
				#{content},
				#{expImpact},
				#{actionReason},
				#{regDate},
				#{partMethod1},
				#{partMethod2},)
 
    	INTO FILES
		    	(FILE_ID,
		    	 FILE_PATH,
		    	 FILE_ORDER,
		    	 UPLOAD_DATE,
		    	 FILE_NAME,
		    	 EXTENSION,
		    	 FILE_SIZE,
		    	 CODE,
		    	 CODE_NO)
    	VALUES
		    	( FILES_SEQ.nextval,
		    	 #{filePath},
		    	 (SELECT NVL(MAX(FILE_ORDER), 0) + 1 FROM files WHERE CODE_NO = #{codeNo}  AND CODE='p03'),
		    	  sysdate,
		    	 #{fileName},
		    	 #{extension},
		    	 #{fileSize},
		    	 #{code},
		    	 #{codeNo})
 SELECT * FROM DUAL
</insert>

<!-- 한 챌린지  참여 등록-->
<insert id="getChallengesInsert" parameterType="ChallengesVO">
	<selectKey keyProperty="chalDetId" resultType="int"
			order="BEFORE">SELECT NVL(MAX(CHAL_DET_ID),0)+1 FROM CHALDETAIL</selectKey> 
		INSERT ALL 
		
		INTO CHALDETAIL
			(CHAL_DET_ID,
			 CHAL_ID,
			 CONTENT,                 
			 PART_DATE,
			 MEM_ID)
		 VALUES
			(#{chalDetId},
			#{chalId},
			#{dContent},
			sysdate,
			#{memId})
 
    	INTO FILES
	    	(FILE_ID,
	    	 FILE_PATH,
	    	 FILE_ORDER,
	    	 UPLOAD_DATE,
	    	 FILE_NAME,
	    	 EXTENSION,
	    	 FILE_SIZE,
	    	 CODE,
	    	 CODE_NO)
	    VALUES
	    	( FILES_SEQ.nextval,
	    	 #{filePath},
	    	 (SELECT NVL(MAX(FILE_ORDER), 0) + 1 FROM files WHERE CODE_NO = #{codeNo} AND CODE='p04'),
	    	 sysdate,
	    	 #{fileName},
	    	 #{extension},
	    	 #{fileSize},
	    	 #{code},
	    	 #{codeNo})
 SELECT * FROM DUAL;		
</insert>


<!-- 챌린지 수정 -->
<update id="getChallengeUpdate" parameterType="ChallengesVO">

</update>
<!-- 한 챌린지 참여 수정-->
<update id="getChallengesUpdate" parameterType="ChallengesVO">

</update>

<!-- 한 챌린지 참여 삭제-->
<delete id="getChallengesDel" parameterType="int">

</delete>
</mapper>