<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.bongsamaru.dona.mapper.DonaMapper">
 
<!-- 메인페이지 전체리스트조회 -->
 	<select id="getDonaList" resultType="DonaVO">
 		SELECT 
 			d.title,
 			d.goal_amt,
 			COUNT(f.don_id) AS donationCount,
 			(SUM(f.don_amt) / d.goal_amt) * 100 AS donationRatio,
 			c.fac_name AS facilityName,
 			d.rec_stat,
 			d.don_id
 		FROM donation d
 			LEFT JOIN don_ledger f ON d.don_id = f.don_id
 			LEFT JOIN facility c ON d.fac_id = c.fac_id
 		
 		GROUP BY d.title, d.goal_amt, c.fac_name, d.rec_stat, d.don_id
 	
 	</select>
 	
<!-- 상세페이지 조회1 (don_id) -->
 	<select id="getDonaDetail" resultType="DonaVO">
 		SELECT 
		     d.title, 
		     (SUM(f.don_amt) / d.goal_amt) * 100 AS donationRatio,
		     d.rec_period,
		     d.end_period,
		     d. goal_amt
		FROM donation d 
			LEFT JOIN don_ledger f ON d.don_id = f.don_id
		WHERE  d.don_id = #{donId}
		GROUP BY d.title, d.goal_amt, d.rec_period, d.end_period, d.goal_amt		
 	</select>
 	
 
 </mapper>