<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}"
>
<head>
<meta charset="UTF-8">
<title>관리자페이지</title>
</head>
<body>
<section layout:fragment="content">
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
		<div class="divFooter" th:insert="~{admin/adminHeader :: head}"></div>
      <!--  Header End -->
      <div class="container-fluid">
        <div class="row justify-content-between">
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="card w-70">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">이달의 기부왕</h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">No</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Donation Amount</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="king,st : ${king}">
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0" th:text="${st.count}+'.'"></h6></td>
                        <td class="border-bottom-0">
                            <h6 class="mb-0 fw-normal" th:text="${king.memId}"></h6>
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal" th:text="${king.mName}"></p>
                        </td>
                        <td class="border-bottom-0">
                          <div class="d-flex align-items-center gap-2">
                            <span class="fw-semibold mb-1" data-th-text="${#numbers.formatInteger(king.total, 1, 'COMMA') + '원'}"></span>
                          </div>
                        </td>
                      </tr> 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
       	<h3>현재 진행중인 기부 프로젝트</h3>
       	<br>
        <div class="row">
          <div class="col-sm-6 col-xl-3" style="color:black;width:20%" th:each="dona : ${dona}" th:if="${dona.recStat}==0">
            <div class="card overflow-hidden rounded-2">
              <div class="position-relative">
                <a th:href="@{/donaDetail(id=${dona.donId}, facId=${dona.facId})}"><img src="../admin/images/products/s4.jpg" class="card-img-top rounded-0" alt="..."></a>
              </div>
              <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">
			    <span>모금중</span><br>
				</div>
               <div class="d-flex align-items-center justify-content-between">
	            <div class="p-4 pb-0 rounded-bottom" style="width:400px">
	                <h4><a th:href="@{/donaDetail(id=${dona.donId}, facId=${dona.facId})}" th:text="${dona.title}"> 제목</a></h4>
	                <a href="#" style="color:gray">
					   <span th:text="${dona.facilityName}"></span>
					</a>
					<br>
	                <div class="progress">
	                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" th:style="'width: ' + ${dona.donationRatio} + '%'" aria-valuenow="${dona.donationRatio}" aria-valuemin="0" aria-valuemax="100"></div>
	                </div><br>
	                <h5>
	                    <span th:text="${dona.donationRatio}"></span> %
	                    
	                    <span style="float:right" data-th-text="${#numbers.formatInteger(dona.total, 1, 'COMMA') + '원'}"></span>
	                </h5>
					 <br>
	            </div>
               </div>
            </div>
          </div>
        </div>
       	<h3>현재 진행중인 봉사 프로젝트</h3>
       	<br>
        <div class="row">
          <div class="col-sm-6 col-xl-3" style="color:black;width:20%" th:each="meet : ${meet}">
            <div class="card overflow-hidden rounded-2">
              <div class="position-relative">
                <a><img src="../admin/images/products/s4.jpg" class="card-img-top rounded-0" alt="..."></a>
              </div>
              <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">
			    <span>모집중</span><br>
				</div>
               <div class="d-flex align-items-center justify-content-between">
	            <div class="p-4 pb-0 rounded-bottom" style="width:400px">
	                <h4><a th:text="${meet.meetName}">동아리명</a></h4>
	                <a href="#" style="color:gray">
					   <span th:text="'#'+${meet.region}"></span>
					   <span th:each="tag : ${tag}" th:if="${tag.volId}==${meet.volId}">#[[${tag.tagContent}]] </span>
					</a>
					<br>
					<Strong><span>모집기간</span></Strong>
					<br>
                    <span th:text="${#dates.format(meet.recPeriod, 'yy.MM.dd')}+' ~ '+${#dates.format(meet.endPeriod, 'yy.MM.dd')}">2024-02-04 ~ 2024-09-04</span>
                    <br>
                    <span th:text="'정원 : '+${meet.meetingCnt}+'/'+${meet.cap}+'명'">정원 : 3/10명</span>
					 <br>
	            </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</body>

</html>