	<div id="donationDone">
        <div class="row">
          <div class="col-sm-6 col-xl-3" style="color:black;width:25%" th:each="dona : ${dona}" th:if="${dona.recStat}==1">
            <div class="card overflow-hidden rounded-2">
              <div class="position-relative">
                <a th:href="@{/donaDetail(id=${dona.donId}, facId=${dona.facId})}"><img src="../admin/images/products/s4.jpg" class="card-img-top rounded-0" alt="..." style="height:200px"></a>
              </div>
              <div class="text-white px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;background-color:#ffb524">
			    <span>모금완료</span><br>
				</div>
               <div class="d-flex align-items-center justify-content-between">
	            <div class="p-4 pb-0 rounded-bottom" style="width:400px">
	                <h4><a th:href="@{/donaDetail(id=${dona.donId}, facId=${dona.facId})}" th:text="${dona.title}"> 제목</a></h4>
	                <a href="#" style="color:gray">
					   <span th:text="${dona.facilityName}"></span>
					</a>
					<br>
	                <div class="progress">
	                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" th:style="'width: ' + ${dona.donationRatio} + '%'" aria-valuenow="${dona.donationRatio}" aria-valuemin="0" aria-valuemax="100"></div>
	                </div><br>
	                <h5>
	                    <span th:text="${dona.donationRatio}"></span> %
	                    
	                    <span style="float:right" data-th-text="${#numbers.formatInteger(dona.total, 1, 'COMMA') + '원'}"></span>
	                </h5>
					 <br>
	            </div>
               </div>
            </div>
          </div>
        </div>
	</div>