<table class="table" id="faq">
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>카테고리</th>
						<th>내용</th>
					</tr>
				</thead>
				<tbody>
				 	<th:block th:each="board,st : ${faqList}" >
						<tr>
							 <td th:text="${st.count}" >번호</td>
							 <td th:text="${board.title}" >제목</td>
							 <td th:if="${board.category}=='f01'" >기부금</td>
							 <td th:if="${board.category}=='f02'" >봉사활동</td>
							 <td th:if="${board.category}=='f03'" >모임</td>
							 <td th:text="${board.content}" >내용</td>
						</tr>
					</th:block>
				</tbody>
			</table>