<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>공지사항/자주하는 질문</title>
<style>
.cur{
	cursor:pointer;
	color : black;
}
</style>
</head>
<body>
	<section layout:fragment="content">
	<div class="body-wrapper">
      <!--  Header Start -->
		<div class="divFooter" th:insert="~{admin/adminHeader :: head}"></div>
      <!--  Header End -->
      <div class="container-fluid">
		<div class="container">
		<h2>공지사항/자주하는 질문</h2>
		<div style="float:right;" class="cur">
			<a style="color:black;font-size:14px" onclick="show1()">게시글 신고건 |</a>
			<a style="color:black;font-size:14px" onclick="show2()"> 댓글 신고건</a>
		</div>
		<div id=tableData>
			<div id="notice">
			<table class="table">
				<thead>
					<tr>
						<th>번호</th>
						<th>신고자</th>
						<th>신고날짜</th>
						<th>신고사유</th>
					</tr>
				</thead>
				<tbody>
				 	<th:block th:each="report,st : ${reportList}">
						<tr>
							 <td th:text="${st.count}">번호</td>
							 <td th:text="${report.memId}" >신고자</td>
							 <td th:text="${#dates.format(report.repDate, 'yyyy년 MMM dd일')}" >날짜</td>
							 <td th:text="${report.repReason}" >신고사유</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			</div>
		</div>
		<script th:inline="javascript">
			function show1(){
				$('#tableData').load("../getReportList?category=r01 #notice");
			}
			function show2(){
				$('#tableData').load("../MoreReport?category=r02 #more");
			}
		</script>
      </div>
    </div>
	</section>
</body>
</html>