<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>고객정보</title>
</head>
<body>
	<section layout:fragment="content">
	<div class="body-wrapper">
      <!--  Header Start -->
		<div class="divFooter" th:insert="~{admin/adminHeader :: head}"></div>
      <!--  Header End -->
      <div class="container-fluid">
		<div class="container">
		<h2>회원관리</h2>
		<div style="float:right;color:black">
			<a style="color:black;font-size:18px" th:href="@{/userList?memStat=m01}">일반회원 |</a>
			<a style="color:black;font-size:18px" th:href="@{/userList?memStat=m02}"> 시설회원</a>
		</div>
			<table class="table">
				<thead>
					<tr>
						<th>이름</th>
						<th>아이디</th>
						<th>전화번호</th>
						<th>학과</th>
						<th>이메일</th>
						<th>기부영수증 처리 여부</th>
					</tr>
				</thead>
				<tbody>
				 	<th:block th:each="user : ${userList}" >
						<tr>
							 <td th:text="${user.memName}" >아이디</td>
							 <td th:text="${user.memId}" >아이디</td>
							 <td th:text="${user.memPhone}" >전화번호</td>
							 <td th:text="${user.memDept}">학과</td>
							 <td th:text="${user.memEmail}">이메일</td>
							 <td th:if="${user.donReceipt}=='0'">처리</td>
							 <td th:if="${user.donReceipt}=='1'">비처리</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
      </div>
    </div>
	</section>
</body>
</html>